* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 设置网页统一的字体大小,行高,字体系列相关属性 */
body {
    font: 16px/1.5;
    color: #333;
}

/* 去除列表默认样式 */
ul,
ol {
    list-style: none;
}

/* 去除倾斜效果 */
em,
i {
    font-style: normal;
}

/* 去除a标签默认下划线，并设置字体颜色 */
a {
    /* display: block; */
    color: #333;
    text-decoration: none;
}