/* 页面滑动 */
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f3f5f7;
}
.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}
.bg-body-tertiary {
  background-color: #fff !important;
  /* 用户 */
}
.bg-body-tertiary .navbar-brand {
  margin-left: 5%;
  margin-right: 80px;
  width: 60px;
  height: 60px;
  background-image: url(../image/logo.jpg);
  background-size: cover;
  /* 尝试覆盖整个容器，但保持宽高比，可能会裁剪 */
}
.bg-body-tertiary .nav-item {
  width: 75px;
  height: 64px;
  text-align: center;
  margin-right: 16px;
}
.bg-body-tertiary .nav-item a {
  font: size 19px;
  padding: 6px 8px;
  line-height: 50px;
}
.bg-body-tertiary .nav-item a:hover {
  border-bottom: 2px solid #20b77884;
}
.bg-body-tertiary .nav-item .active {
  border-bottom: 2px solid #20b77884;
}
.bg-body-tertiary .search {
  padding: 0 12px;
  /* 简化内边距设置，使左右内边距相同 */
  width: auto;
  min-width: 348px;
  height: 40px;
  line-height: 40px;
  background-color: #f3f5f7;
  border-radius: 20px;
}
.bg-body-tertiary .search .d-flex {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.bg-body-tertiary .search .d-flex .form-control {
  flex: 1;
  border: none;
  /* 使用none代替0，更清晰表达没有边框 */
  background-color: transparent;
  /* 去掉焦点框 */
  outline: none;
  /* 添加一些内边距以改善文本的可读性 */
  font-size: 14px;
  color: #333;
}
.bg-body-tertiary .search .d-flex .form-control::placeholder {
  font-size: 14px;
  color: #999;
}
.bg-body-tertiary .search .d-flex .btn {
  /* 移除对.iconfont的直接样式设置，因为图标现在位于button内 */
  border: none;
  /* 移除按钮的默认边框 */
  background-color: transparent;
  /* 移除按钮的背景色，使其透明 */
  padding: 0;
  /* 移除按钮的内边距，因为我们将使用图标的大小和位置 */
  cursor: pointer;
  /* 鼠标悬停时显示指针，表示可点击 */
}
.bg-body-tertiary .search .d-flex .btn .iconfont {
  font-size: 18px;
  color: rgba(32, 183, 120, 0.52);
}
.bg-body-tertiary .user {
  margin: auto;
  text-align: center;
}
.bg-body-tertiary .user a {
  display: block;
  margin: 0 auto;
}
.bg-body-tertiary .user a .iconfont {
  font-size: 25px;
}
.bg-body-tertiary .user a span {
  font-size: 12px;
  color: #666;
}
/* 中心区域 */
/* 首页内容样式 */
.banner {
  margin-top: 115px;
  background-color: #f5f5f5;
}
.banner .container {
  position: relative;
  display: flex;
  overflow: hidden;
}
.banner .pic {
  display: flex;
}
.banner .pic li {
  width: 950px;
}
.banner .subnav {
  width: 250px;
  background-color: rgba(0, 0, 0, 0.42);
  display: flex;
  flex-direction: column;
  /* 垂直排列子元素 */
}
.banner .subnav ul {
  width: 250px;
  /* 使ul的宽度充满subnav */
  height: 100%;
  margin: 0;
  /* 移除默认的ul外边距 */
  padding: 0;
  /* 移除默认的ul内边距 */
  list-style: none;
  /* 移除列表标记 */
}
.banner .subnav li {
  /* 移除绝对定位 */
  flex: 1;
  /* 使每个li平均分配高度 */
  padding-left: 30px;
  padding-right: 12px;
  height: auto;
  /* 自动高度 */
  line-height: normal;
  /* 恢复正常行高 */
  color: #fff;
  /* 指针类型 */
  cursor: pointer;
}
.banner .subnav li a {
  display: flex;
  justify-content: space-between;
  line-height: 125px;
  margin-right: 5px;
  font-size: 14px;
  color: #fff;
}
.banner .subnav li a .iconfont {
  line-height: 125px;
  font-size: 14px;
}
.banner .subnav li .classify {
  margin-right: 14px;
  font-size: 16px;
}
.banner .subnav li:hover {
  background-color: #20b77884;
}
@media (max-width: 768px) {
  .banner .container .subnav {
    display: none;
  }
  .banner .carousel-item img {
    height: 250px;
  }
}
@media (min-width: 768px) {
  .banner .carousel-item img {
    height: 400px;
  }
}
@media (min-width: 992px) {
  .banner .carousel-item img {
    height: 500px;
  }
}
.banner .carousel .carousel-control-prev-icon:hover,
.banner .carousel .carousel-control-next-icon:hover {
  background-color: #222020;
}
/* 精品课程 */
.recommed {
  height: 60px;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(211, 211, 211, 0.5);
  margin-top: 30px;
  padding: 0 10px;
}
.recommed .wrapper {
  height: 100%;
  line-height: 60px;
  display: flex;
}
.recommed .wrapper h3 {
  font-size: 18px;
  color: #00a4ff;
  font-weight: 400;
  line-height: 60px;
}
.recommed .wrapper ul {
  /* 除去推荐课程和修改兴趣的大小，剩下给具体课程 */
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
  height: 100%;
}
.recommed .wrapper ul li a {
  /* padding: 0 80px; */
  /* margin-left: 80px; */
  border-left: 2px solid #e0e0e0;
  border-right: 2px solid #e0e0e0;
  font-size: 16px;
  text-align: center;
}
.recommed .wrapper .modify {
  font-size: 16px;
  text-align: center;
  color: #00a4ff;
}
/* 当视口宽度小于992px时应用的样式 */
@media (max-width: 992px) {
  .recommed {
    display: none;
  }
}
.course {
  margin-top: 20px;
  text-align: center;
}
.course .hd {
  display: flex;
  justify-content: space-between;
  height: 60px;
  line-height: 60px;
}
.course .hd h3 {
  font-size: 22px;
  font-weight: 400;
  line-height: 60px;
}
.course .hd .more {
  font-size: 16px;
  color: #999;
}
.course .hd .more .iconfont {
  font-size: 16px;
  color: #999;
  margin-left: 20px;
}
.course .bd a {
  display: block;
  width: 285px;
  height: 340px;
  background-color: #00a4ff;
  margin: 0 auto 15px;
  border: 1px solid #349358;
  /* 设置过渡效果，当transform属性变化时应用 */
  transition: transform 0.5s ease;
  /* 持续时间0.5秒，使用ease速度曲线 */
}
.course .bd a:hover {
  transform: scale(1.1);
}
.course .bd a .pic {
  height: 192px;
}
.course .bd a .bd-info {
  height: 145px;
  padding: 20px;
  background-color: #fff;
}
.course .bd a .bd-info h4 {
  /* margin-bottom: 20px; */
  height: 80px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  font-weight: 400;
}
.course .bd a .bd-info p {
  font-size: 18px;
  color: #999;
  text-align: center;
}
.course .bd a .bd-info p span {
  color: #ae9e43;
}
/* 信息简介区域 */
.fonter {
  margin-top: 60px;
  background-color: #fff;
}
.fonter .wrapper {
  display: flex;
  align-items: center;
  height: 300px;
  justify-content: space-around;
}
.fonter .left {
  width: 300px;
  /* background-color: #00a4ff; */
  /* display: flex; */
}
.fonter .left img {
  height: 200px;
}
.fonter .right p {
  /* margin-top: 24px; */
  margin: 0 auto 15px;
  font-size: 14px;
  line-height: 40px;
  color: #666;
}
@media (max-width: 875px) {
  .fonter .left {
    display: none;
  }
  .fonter .right p i {
    display: none;
  }
}
/* 版权 */
.copyright {
  height: 80px;
  text-align: center;
  margin-top: 40px;
}
.copyright p {
  color: #a1a1a1;
  margin-bottom: 10px;
}
.copyright p a {
  color: #a1a1a1;
  margin: 0 10px;
}
.copyright p ahover {
  /* border-bottom: 2px solid #20b77884; */
  color: #000;
}
/* 电梯导航 */
.ann {
  position: fixed;
  /* 使用固定定位，使其始终位于页面右侧 */
  top: 50%;
  /* 距离页面顶部0px */
  transform: translateY(-50%);
  /* 向上平移自身高度的50%，实现垂直居中 */
  right: 10%;
  /* 距离页面右侧0px */
  width: 35px;
  /* 导航的宽度 */
  /* 导航的高度与页面相同 */
  background-color: #fff;
  /* 背景色 */
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  /* 左侧阴影效果，增加立体感 */
  /* overflow-y: auto; */
  /* 允许在内容超出时垂直滚动 */
  opacity: 0;
  pointer-events: none;
  /* 导航列表的样式 */
}
@media (max-width: 768px) {
  .ann {
    opacity: 0;
    pointer-events: none;
  }
}
.ann ul {
  list-style: none;
  /* 移除列表项的默认样式 */
  padding: 0;
  /* 移除默认的填充 */
  margin: 0;
  /* 移除默认的边距 */
  /* 导航列表项鼠标悬停时的样式 */
}
.ann ul li {
  display: flex;
  justify-content: center;
  height: 56px;
  font-size: 12px;
  align-items: center;
  width: 100%;
  /* writing-mode: vertical-lr; */
  text-align: center;
  /* 文本居中 */
  padding: 10px 0;
  /* 上下内边距 */
  border-bottom: 1px solid #ddd;
  /* 底部边框 */
  cursor: pointer;
  /* 鼠标悬停时显示指针 */
  transition: background-color 0.3s;
  /* 平滑的背景色过渡 */
}
.ann ul .iconfont {
  height: 22px;
  font-size: 22px;
  color: #000;
}
.ann ul li#backTop {
  display: flex;
  /* 设置为列方向 */
  flex-direction: column;
  text-align: center;
  list-style: none;
}
.ann ul li:hover {
  color: #20b77884;
  /* 鼠标悬停时的背景色 */
}
.ann ul li#backTop:hover .iconfont {
  color: #20b77884;
}
.active {
  color: #20b77884;
}
/* 初始时不可点击 */
.visible {
  opacity: 1;
  pointer-events: auto;
  /* 当变为可见时，可以点击 */
}
