body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 盒子 */
.wall-warp {
  width: 400px;
  /* height: 630px; */
  /* height: auto; */
  background: #FFFFFF;
  box-shadow: 0 0 10px 0 rgba(0, 33, 79, 0.11);
  border-radius: 6px;
  text-align: center;
}
/* 鼠标经过样式 */
.wall-active:hover {
  color: rgba(24, 24, 27, 0.513);
}
/* <!-- logo区域 --> */
.wall-logo {
  display: flex;
  /* 设置为Flex容器 */
  justify-content: center;
  /* 水平居中 */
  align-items: center;
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
  margin-top: 15px;
}
.wall-logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 400px; */
  height: 80px;
}
.wall-logo a img {
  width: 60px;
  height: 60px;
}
.wall-logo a div {
  margin-left: 12px;
  font-size: 25px;
  color: #2a2a2a;
  vertical-align: middle;
}
.wall-mr ul {
  height: 55px;
  display: flex;
  /* padding: 12px; */
  align-items: center;
  /* margin-bottom: 20px; */
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 33, 79, 0.11);
}
.wall-mr .wall-mrPhone a {
  display: block;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  font-size: 16px;
  color: #2A2A2A;
  /* margin-bottom: 18px; */
  margin-left: 20px;
}
.wall-mr .wall-mrRegister a {
  display: block;
  height: 30px;
  line-height: 30px;
  margin-right: 30px;
  margin-top: 4px;
  font-size: 14px;
  color: #777777;
  border-bottom: 4px solid #20b77884;
}
.wall-mr a:hover {
  color: rgba(24, 24, 27, 0.513);
}
/* <!-- 输入区域 --> */
.wall-input {
  height: 270px;
  padding-top: 20px;
}
.wall-input label {
  position: relative;
  /* 使得内部元素可以相对于label定位 */
  display: block;
  /* 确保label是块级元素 */
  margin-bottom: 30px;
  /* 每个输入框之间的间距 */
}
.wall-input .error-message {
  position: absolute;
  /* 与输入框的左侧对齐 */
  left: 90px;
  /*确保错误信息在输入框下方 */
  bottom: -24px;
  color: #ff4d4f;
  /* 错误信息的颜色 */
  font-size: 14px;
}
.wall-input span {
  display: inline-block;
  width: 50px;
}
.wall-input input {
  margin-left: 10px;
  background: #F6F6F6;
  border: 1px solid #EDEDED;
  width: 300px;
  padding-left: 10px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #3D4059;
  box-sizing: border-box;
  border-radius: 15px;
  outline: none;
}
.wall-input button {
  /* width: 100px; */
  height: 40px;
  line-height: 20px;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 15px;
  /* 与输入框之间留一点空隙 */
  border: 1px solid #ddd;
  border-radius: 15px;
  cursor: pointer;
  float: right;
  /* 让按钮浮动到右侧 */
}
/* <!-- 注册按钮 --> */
.wall-buo button {
  display: block;
  margin: 42px auto 0;
  margin-top: 0;
  width: 340px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background: #3D84FF;
  border: 1px solid #fff;
}
/* 用户协议 */
.wall-ug {
  /* height: 46px; */
  padding: 10px;
  border-bottom: 1px solid rgba(0, 33, 79, 0.11);
}
.wall-ug label {
  /* height: 20px; */
  line-height: 23px;
  margin-left: 3px;
  text-align: center;
  font-size: 12px;
}
.wall-ug a {
  color: #3D84FF;
}
/* 帮助 */
.wall-help span {
  height: 48px;
  line-height: 48px;
  font-size: 12px;
  color: #777;
  bottom: 25px;
  /* 将元素定位到底部 */
  left: 0;
  width: 100%;
}
.wall-help .wall-help-contact {
  color: #000;
  font-size: 12px;
  margin-left: 6px;
}
.wall-help .wall-help-contact:hover {
  color: rgba(24, 24, 27, 0.513);
}
